@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
